@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(132, 149, 243);
  color: black;
  text-align: center;
  margin-top: 100px;
}

#jokes {
  display: flex;
  justify-content: center;

  h4 {
    color: turquoise;
  }
}

#lyrics {
  width: 50%;
  margin: auto;

  #showLyrics {
    text-align: left;
  }
}
