@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(43, 40, 82);
  color: black;
  text-align: center;
  margin-top: 100px;
}

#jokes {
  display: flex;
  justify-content: center;

  h4 {
    color: turquoise;
  }
}
